<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questions" class="ru.otus.vvpetrov.dao.QuestionsDaoCsv">
        <constructor-arg name="fileQuestions" value="Questions.csv"/>
    </bean>

    <bean id="personService" class="ru.otus.vvpetrov.service.QuestionServiceImpl">
        <constructor-arg name="questionsDao" ref="questions"/>
    </bean>
</beans>
